body{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 0px;
}
#bodyMain{
	position: relative;
	width: 1050px;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 5px #888888;
	border: 5px outset #888888;
	margin-top: 0px;
	margin-bottom: 0px;
}

.clickMenu{
	position: absolute;
	height: auto;
	background-color: #B6B1B1;
	z-index: 2000;
	border-radius: 5px;
	top: 0;
	left: 0;
	margin: 0px;
	padding: 0px;
	z-index: 20000;
}

#rightClickMenu{
	display: none;
	width: 120px;
}

#playListMenu{
	display: none;
	width: auto;
}

.clickMenu p{
	margin: 8px 0px;
	color: white;
	cursor: pointer;
}

#exaas{
	position: relative;
	left: 0;
	top: 0;
}
.bar{
	z-index: -1;
}
.bars{
	position: relative;
	height: 344px;
	width: 780px;
	/*background-color: yellow;*/
	margin-left: auto;
	margin-right: auto;
	top: 140px;
}
.sameBars{
	position: relative;
	width: 325px;
	float: left;
	/*background-color: yellow;*/
}
#secondSmallBars{
	margin-left: 130px;
	padding-top: 100px;
}
.thirdBar{
	margin-left: 30px;
}
#centromeres1{
	position: absolute;
	top: 115px;
	left: 32px;
}
#centromeres2{
	position: absolute;
	top: 120px;
	left: 32px;
}
.secondCentromere{
	margin-left: 96px;

}
.let{
	font-family: arial;
}
.lSmall{
	font-size: 54px;
	margin: -2px 0px 0px 14px;
}
.lBig{
	font-size: 64px;
	font-weight: bold;
	margin: -10px 0px 0px 5px;
}
.letter{
	z-index: 1;
	margin-top: 1px;
	left: 0;
	top: 0;
	position: relative;
	width: 56;
	height: 50;
	float: left;
	cursor: grab;
}
/*#letter1{
	position: relative;
	left: 0px;
	top: 0px;
}*/
.allLetters{
	z-index: 1;
	position: absolute;
	padding-left: 10px;
	width: 605px;
	height: 51px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	left: 0px;
	right: 0px;
	top: 0px;
	background-color: red;
	border-radius: 7px;
}
.squares1{
	position: absolute;
	width: 325px;
	height: 55px;
	/*background-color: red;*/
	padding-left: 5px;
	top: 0px;
	top: 30px;
}
.squares2{
	position: absolute;
	width: 325px;
	height: 55px;
	/*background-color: red;*/
	padding-left: 5px;
	top: 170px;
}
.squares3{
	position: absolute;
	width: 325px;
	height: 55px;
	/*background-color: red;*/
	padding-left: 5px;
	top: 260px;
}
.squareOut
{
	border: 2px dashed gray;
	position: relative;
}
.squareBack
{
	position: absolute;
	background-color: #817B7B;
	opacity: 0.2;
}
.squareIn
{
	z-index: 1;
	position: absolute;
}
.square{
	float: left;
	width: 56px;
	height: 51px;
}
.rSquare{
	margin-left: 15px;
	margin-right: 23px;
}
.lSquare{
	margin-left: 22px;
	margin-right: 15px;
}
#nextButton{
	float: right;
	display: none;
}
/*#squares{
	z-index: -1;
	position: relative;
	width: 68px;
	height: 342px;
	left: 180px;
	top: -218px;
}
.square{
	border: 2px inset #888888;
	position: relative;
	left: 5px;
}
#square1{
	top:-285px;
}
#square2{
	top:-210px;
}
#square3{
	top:-160px;
}*/
