/* 
    Document   : style2
    Created on : 23/10/2014, 06:32:28
    Author     : fernando_jorge
    Description:
        Purpose of the stylesheet follows.
*/

rbody{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image:  inherit;
}
.teste1{

}
.header{ 
    border-style: solid;
    border-width: 1px;
    height: 250px;
    width: 800px;
    background-color: #BBFFFF;
    position: relative;
    margin: 0 auto;
    
}
.subheader{
    border-style:  solid;
    background-color: #E6E6FA;
    border-width: 1px;
    height: 300px;  
    width:  800px;
    position: relative;
    margin: 0 auto;
    text-align: left;
}

.center{
    border-style: solid;
    border-width: 1px;
    position: relative;
    height: 1170px;
    width: 800px;
    margin: 0 auto;
    text-align: left;
}

h1{
    text-align: center;
    font-size: 50px;
    
}
h2{
    padding-left: 2em;
}
.texto1{
    padding-left: 2em;
    padding-right: 2em;
    text-align: justify;
    font-size: 20px; 
    
}
.imagemMaiorAntes1{
    
    position: relative;
    float: left;
    left: 40px;
    top: 20px;
}

.imagemMaiorAntes2{

    position: relative;
    float: left;
    left: 55px;
    top: 20px;
}
.imagemMenorAntes1{
   
     position: relative;
     float:left;
     top: 140px;
     left: 90px;
}

.imagemMenorAntes2{
    
     position: relative;
     float:left;
     top: 140px;
     left: 110px;
}
.ligacaoMaiorAntes1{
    z-index: 1;
    position: absolute;
    top: 153px;
    left: 75px;
}
.ligacaoMaiorAntes2{
    z-index: 1;
    position: absolute;
    top: 153px;
    left: 255px;
}

.ligacaoMenorAntes1{
    z-index: 1;
    position: absolute;
    top: 219px;
    left: 460px;
}
.ligacaoMenorAntes2{
    z-index: 1;
    position: absolute;
    top: 219px;
    left: 640px;
}
/* Depois
********************************
********************************
********************************
********************************
********************************
********************************

*/

.imagemMaiorDepois1{
   
    position: relative;
    float: left;
    top: 400px;
    left: -290px;
}

.imagemMaiorDepois2{
  
    position: relative;
    top: 400px;
    float: left;
    left: -275px;
}
.imagemMenorDepois1{
   
     position: relative;
     float:left;
     top: 120px;
     left: 420px;
}

.imagemMenorDepois2{

     position: relative;
     float:left;
     top: 120px;
     left: 445px;
}
.ligacaoMaiorDepois1{
    z-index: 1;
    position: absolute;
    top: 817px;
    left: 75px;
}
.ligacaoMaiorDepois2{
    z-index: 1;
    position: absolute;
    top: 817px;
    left: 255px;
}

.ligacaoMenorDepois1{
    z-index: 1;
    position: absolute;
    top: 883px;
    left: 460px;
}
.ligacaoMenorDepois2{
    z-index: 1;
    position: absolute;
    top: 883px;
    left: 647px;
}

.entreImagens{
    border-style: solid;
    position: absolute;
    border-width: 1px;
    top: 480px;
    
}

.botão-validar1{
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 90px;
    font-family: Calibri, Arial,sans-serif;
    float: right;
    left: -30px;
    top: 430px;
    font-size: 110%;
    
}

.botão-validar2{
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 90px;
    font-family: Calibri, Arial,sans-serif;
    float: right;
    left: -30px;
    top: 430px;
    font-size: 110%;
}


.texto2{
    text-align: center;
}
ul{
    text-align: justify;
    padding-right: 2em;
}
.subitem{
    border-style: solid;
    left: 50px;
    
}
/*sem nada é a tag*/
h3{
    text-align: center;
}
.ferramentas{
    border-style: solid;
    border-width: 1px;
    height: 500px;
    width: 150px;
    position: fixed;
    float: left;
    top: 300px;
    
}

.formulario{
    border-style: solid;
    border-width: 1px;
    width: 800px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    text-align: left;
}

.formulario-texto{
    float: left;
    width:120px;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    text-align:right;
    padding-right:10px;
    margin-bottom:8px;
    font-size:12px;
    position: relative;
    
}

.formulario-campo{
    width:550px; 
    float:left;
    margin-bottom:8px;
    position: relative;
}
.botão-enviar{
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
    width: 80px;
    height:30px;
    font-family: Calibri, Arial,sans-serif;
    margin-top: 10px;
    font-size:110%;;
    margin-left: 250px;
}
