/* 
Atividade de Biologia
Orientadora: 
Alunos: Fernando Davilo, Rodolfo Borges
Data: 03/2015
*/

body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
    /*background-image:  url(image/Dna2.JPG) ;*/
    background-color: inherit;
   
}
.container2{
    position: relative;
    height: 540px;
    margin: auto;
    border-style: inset;
    border-radius: 15px;
    margin-top: 8px;

}
.header{
    background-color: #E6E6FA;
    position: relative;
    text-align: left;
    border-radius: 15px;
}
.center{
    /*border-style: solid;*/
    border-width: 1px;
    position: relative;
    width: 800px;
    margin: auto;
    text-align: left;
   
}
.container{
    position: relative;
    width: 803px;
    margin: auto;
    text-align: left;
}
h1{
    text-align: center;
    
}
h2{
    text-align: center;
}

.topico{ 
    text-align: center;
    font-size: 17px;
    position: relative;
    margin: 0 auto;
    font-weight: bold;
    font-family:  "cursive";
    
}

.texto1{
    padding-left: 2em;
    padding-right: 2em;
    text-align: justify;
    font-size: 18px; 
}

.entreImagens{
    border-style: solid;
    position: relative;
    border-width: 1px;
    width: 798px;
  
    
}
/* Depois
********************************
********************************
********************************
********************************
********************************
********************************

*/
.imagemMaiorDepois1{
   
    position: relative;
    float: left;
    top: 400px;
    left: -290px;
}

.imagemMaiorDepois2{
  
    position: relative;
    top: 400px;
    float: left;
    left: -275px;
}
.imagemMenorDepois1{
   
     position: relative;
     float:left;
     top: 120px;
     left: 420px;
}

.imagemMenorDepois2{

     position: relative;
     float:left;
     top: 120px;
     left: 445px;
}
.ligacaoMaiorDepois1{
    position: absolute;
    top: 917px;
    left: 75px;
}
.ligacaoMaiorDepois2{
    position: absolute;
    top: 917px;
    left: 255px;
}

.ligacaoMenorDepois1{
    position: absolute;
    top: 976px;
    left: 460px;
}
.ligacaoMenorDepois2{
    position: absolute;
    top: 976px;
    left: 647px;
}



.botao-validar1{
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 90px;
    font-family: Calibri, Arial,sans-serif;
    float: right;
    left: -30px;
    top: 430px;
    font-size: 110%;
    
}

.botao-validar2{
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 90px;
    font-family: Calibri, Arial,sans-serif;
    float: right;
    left: -30px;
    top: 430px;
    font-size: 110%;
}


.texto2{
    text-align: center;
}
ul{
    margin-left: 2em;
    font-size: 18px;
}
.subitem{
    border-style: solid;
    left: 50px;
    
}
/*sem nada é a tag*/
h3{
    text-align: center;
}
.ferramentas{
    border-style: solid;
    border-width: 1px;
    height: 500px;
    width: 150px;
    position: fixed;
    float: left;
    top: 300px;
    
}

.formulario{
    /*border-style: solid;
    border-width: 1px;*/
    width: 750px;
    height: 500px;
    position: relative;
    margin-top: 8px;
    /*border-radius: 15px;*/
    /*margin: 0 auto;
    text-align: left;*/
}
.formulario>form{
    height: 310px;
    position: relative;
    margin-bottom: 0;
}

.formulario-texto{
    float: left;
    width:120px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:right;
    padding-right:10px;
    margin-bottom:8px;
    font-size:12px;
    position: relative;
    left: 130px;

}
textarea{ 
    font-family:Arial, Helvetica, sans-serif;
}
.formulario-campo{
    z-index: 1;
    width:550px; 
    float:left;
    margin-bottom:8px;
    position: relative;
    text-align: left;
    left: 130px;
}
.sendButtonForm{
    padding-left: 70px;
    margin-top: 40px;
}
.botao-enviar{
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
    width: 80px;
    height:30px;
    font-family: Calibri, Arial,sans-serif;
    margin-top: 10px;
    font-size: 110%;;
    margin-left: 250px;
    border-radius: 8px;
}












/*Parte do Rodolfo...*/


#blablaei{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 5px outset #888888;
}

#bodyMain{
    position: relative;
    width: 1050px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px #888888;
    border: 5px outset #888888;
    margin-top: 0px;
    margin-bottom: 0px;
}

.clickMenu{
    position: absolute;
    height: auto;
    background-color: #B6B1B1;
    z-index: 2000;
    border-radius: 5px;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
    z-index: 20000;
}

#rightClickMenu{
    display: none;
    width: 120px;
}

#playListMenu{
    display: none;
    width: auto;
}

.clickMenu p{
    margin: 8px 0px;
    color: white;
    cursor: pointer;
}

#exaas{
    position: relative;
    left: 0;
    top: 0;
}
.bar{
    z-index: -1;
    float: left;
    margin-right: 5px;
}
.bars{
    position: relative;
    height: 374px;
    width: 780px;
    /*background-color: yellow;*/
    margin-left: auto;
    margin-right: auto;
    top: 140px;
}
.sameBars{
    position: relative;
    width: 325px;
    float: left;
    /*background-color: yellow;*/
}
#secondSmallBars{
    margin-left: 130px;
    padding-top: 100px;
}
.thirdBar{
    margin-left: 25px;
}
#centromeres1{
    position: absolute;
    top: 115px;
    left: 32px;
}
#centromeres2{
    position: absolute;
    top: 120px;
    left: 32px;
}
.secondCentromere{
    margin-left: 92px;

}
.let:hover{
    animation: myfirst 0.3s forwards;
    -webkit-animation: myfirst 0.3s forwards;
    -moz-animation: myfirst 0.3s forwards;
}
@keyframes myfirst {
    from {color: yellow;transform: rotate(0deg);}
    to {color: yellow;transform: rotate(20deg);}
}
@-webkit-keyframes myfirst {
    from {color: yellow;transform: rotate(0deg);}
    to {color: yellow;transform: rotate(20deg);}
}
@-moz-keyframes myfirst {
    from {color: yellow;transform: rotate(0deg);}
    to {color: yellow;transform: rotate(20deg);}
}
/*.let2:hover{
    animation: mysecond 0.3s forwards;
    -webkit-animation: mysecond 0.3s forwards;
    -moz-animation: mysecond 0.3s forwards;
}
@keyframes mysecond {
    to {transform: rotate(20deg);}
}
@-webkit-keyframes mysecond {
    to {transform: rotate(20deg);}
}
@-moz-keyframes mysecond {
    to {transform: rotate(20deg);}
}*/
.hiddeAct{
    animation: hid 1.6s ease backwards;
    -webkit-animation: hid 1.6s ease backwards;
    -moz-animation: hid 1.6s ease backwards;
}
/*@keyframes hid {
     50% {transform: rotateX(90deg) translateY(-30px);transform-origin: 50% 0%;}
    100% {transform: rotateX(0deg);transform-origin: 50% 0%;}
}*/
@keyframes hid {
    49% {transform: scale(1.1,1.1); opacity: 0;}
    51% {transform: scale(1.1,1.1); opacity: 0;}
    100% {transform: scale(1,1); opacity: 1;}
}
@-webkit-keyframes hid {
    49% {transform: scale(1.1,1.1); opacity: 0;}
    51% {transform: scale(1.1,1.1); opacity: 0;}
    100% {transform: scale(1,1); opacity: 1;}
}
@-moz-keyframes hid {
    49% {transform: scale(1.1,1.1); opacity: 0;}
    51% {transform: scale(1.1,1.1); opacity: 0;}
    100% {transform: scale(1,1); opacity: 1;}
}
.lSmall{
    font-size: 54px;
}
.lBig{
    font-size: 54px;
    font-weight: bold;
    
}
.letter{
    z-index: 8;
    left: 0;
    top: 0;
    position: relative;
    width: 56;
    height: 51;
    float: left;
    cursor: grab;
    cursor: -webkit-grab;
    color: black;
    font-family: arial;
    text-align: center;
    margin-top: -3px;
}
/*#letter1{
    position: relative;
    left: 0px;
    top: 0px;
}*/
#allLettIn{
    z-index: 2;
    position: absolute;
    width: 560px;
    height: 51px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    left: 0px;
    right: 0px;
    top: 0px;
    border-radius: 7px;
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.allLetters{
    z-index: 3;
    position: absolute;
    width: 560px;
    height: 51px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: red;
    border-radius: 7px;
}
.squares1{
    position: absolute;
    width: 325px;
    height: 55px;
    /*background-color: red;*/
    margin-left: 5px;
    top: 30px;
}
.squares2{
    position: absolute;
    width: 325px;
    height: 55px;
    /*background-color: red;*/
    margin-left: 5px;
    top: 170px;
}
.squares3{
    position: absolute;
    width: 325px;
    height: 55px;
    /*background-color: red;*/
    margin-left: 5px;
    top: 260px;
}
.squareOut
{
    border: 2px dashed gray;
    position: relative;
}
.squareBack
{
    position: absolute;
    background-color: #817B7B;
    opacity: 0.2;
}
.squareIn
{
    z-index: 2;
    position: absolute;
}
.square{
    float: left;
    width: 56px;
    height: 51px;
}
.rSquare{
    margin-left: 15px;
    margin-right: 23px;
}
.lSquare{
    margin-left: 17px;
    margin-right: 15px;
}
#nextButton{
    float: right;
    display: none;
}
button{
    position: relative;
}